<a href="https://colab.research.google.com/github/bartimer/ai-study/blob/main/DS-1/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Course

Dear students,

This is a simple notebook that you can use to make sure you can upload files to Colab and read data on the side. Please execute the following cells and make sure you don't run into errors. If this is the case, feel free to contact me:
arthur.vandenhoeke@vub.be


Steps to follow before executing the cells:
- Create [Google](https://myaccount.google.com) + [Google Drive](https://drive.google.com/drive/my-drive) accounts
- Import .ipynb notebooks and .csv files from the EhB portal to your Google Drive
- Connect to your [Colab account](https://colab.research.google.com) (linked to your google account)
- Mount your Google Drive using the "Mount Drive" button in the top left corner
- Open this notebook using File -> Open Notebook -> Google Drive -> Test.ipynb
- Mount your Google Drive again using the following cell
- Copy paste the password provided during the mounting process if needed
- Execute the rest of the cells to verify that the .csv file can be accessed.

If you can't connect your Drive to Colab, you can also directly upload the notebooks inside Colab (using Files -> upload notebook), as well as the csv files.

# Nieuwe sectie

In [1]:
# mount your google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# import a data processing library
import pandas as pd

In [5]:
# make sure to change the path with the actual path of your .csv file (Go to .csv file and select "Copy Path")
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DS-1/iris-data.csv")

In [6]:
# see the result of the loaded .csv file
df.head()

   sepal_length_cm  sepal_width_cm  ...  petal_width_cm        class
0              5.1             3.5  ...             0.2  Iris-setosa
1              4.9             3.0  ...             0.2  Iris-setosa
2              4.7             3.2  ...             0.2  Iris-setosa
3              4.6             3.1  ...             0.2  Iris-setosa
4              5.0             3.6  ...             0.2  Iris-setosa

[5 rows x 5 columns]